.client-rates {
  position: relative;
  background: url("../../static/images/10.png") left top no-repeat;
  background-color: #221462;
  padding: 100px 0px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .client-rates {
    padding: 80px 0px;
  }
}
@media screen and (max-width: 768px) {
  .client-rates {
    background: url("../../static/images/026.png") left top no-repeat;
    background-color: #221462;
    padding: 60px 0px;
  }
}
@media screen and (max-width: 600px) {
  .client-rates {
    background-size: contain;
    padding: 40px 0px;
  }
}

.rates-content {
  position: relative;
}

.rates-title {
  max-width: 270px;
  text-align: left;

}

.rates-gallery {
  position: relative;
}

.rates-wrapper {
  padding: 80px 0px 100px 0px;
}
@media screen and (max-width: 768px) {
  .rates-wrapper {
    padding: 50px 0px 80px 0px;
  }
}
@media screen and (max-width: 600px) {
  .rates-wrapper {
    padding: 40px 0px 20px 0px;
  }
}

.rates-slide {
  position: relative;
  background: #d9d9d9;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 70px 20px 20px 20px;

}
.rates-slide::after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: -35px;
  width: 85%;
  height: 20px;
  background: #000;
  z-index: 3;
  -webkit-filter: blur(25px);
  filter: blur(25px);
}
@media screen and (max-width: 992px) {
  .rates-slide {
    padding: 60px 20px 20px 20px;
    width: 992px;
  }
}
@media screen and (max-width: 600px) {
  .rates-slide {
    padding: 45px 15px 15px 20px;
  }
  .rates-slide::after {
    display: none;
  }
}

.swiper-slide .rates-slide {
  width: 400px !important;
  height: 320px !important;
  margin: 0;
}


.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .swiper-pagination {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.swiper-pagination-bullet {
  margin-right: 25px !important;
}
@media screen and (max-width: 600px) {
  .swiper-pagination-bullet {
    margin-right: 20px !important;
  }
}

.swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff7a00;
}

.rates-ava {
  position: absolute;
  left: 30px;
  top: -50px;
  background: #d9d9d9;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #221462;
  text-align: center;
  overflow: hidden;
}
.rates-ava img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .rates-ava {
    top: -40px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  .rates-ava {
    left: 20px;
    top: -30px;
    width: 60px;
    height: 60px;
  }
}

.rates-info__title {
  color: #141327;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0px 0px 15px 0px;
  font-weight: 800;
}
@media screen and (max-width: 600px) {
  .rates-info__title {
    font-size: 14px;
    line-height: 16px;
  }
}

.rates-info__text {
  color: #141327;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}

@media screen and (max-width: 600px) {
  .rates-info__text {
    font-size: 11px;
    line-height: 1rem;
  }
}

.rates-content .swiper-slide {
  opacity: 0.5;
  transform: scale(0.65); 
  transition: transform 0.3s, opacity 0.3s; 

}

.rates-content .swiper-slide-active  {
  opacity: 1; 
  transform: scale(1);
  transition: transform 0.3s, opacity 0.3s; 
  box-shadow: 0 0 100px rgb(49, 0, 163);
}

.swiper-pagination {
  margin: 50px 0;
}