.galaxy-clients {
  position: relative;
  background: #1c1050;
  padding: 100px 0px 120px 0px;
}

@media screen and (max-width: 992px) {
  .galaxy-clients {
    padding: 80px 0px 100px 0px;
  }
}
@media screen and (max-width: 768px) {
  .galaxy-clients {
    padding: 60px 0px 80px 0px;
  }
}
@media screen and (max-width: 600px) {
  .galaxy-clients {
    padding: 40px 0px 60px 0px;
  }
}

.galaxy-gallery {
  position: relative;
}

.galaxy-gallery__top {
  margin: 0px 0px 30px 0px;
}
@media screen and (max-width: 600px) {
  .galaxy-gallery__top {
    margin: 0px 0px 10px 0px;
  }
}

.galaxy-title {
  margin: 0px 0px 60px 0px;
}
@media screen and (max-width: 992px) {
  .galaxy-title {
    margin: 0px 0px 40px 0px;
  }
}

.swiper-wrapper {
  align-items: stretch !important;
  height: auto !important;
  transition-timing-function: linear !important;

}

.galaxy-block.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
}
.galaxy-block img {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .galaxy-block {
    max-height: 120px;
  }
  .galaxy-block img {
    max-height: 100%;
  }
}