.btn-start {
  position: relative;
  z-index: 3;
  width: 220px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background: url("../../static/images/button.png") center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Unbounded", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00;
  box-shadow: 0px 0px 30.617px 0px #ff7b00;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  -webkit-animation: buttonAnimation 3s infinite;
  animation: buttonAnimation 3s infinite;
}
@media screen and (max-width: 992px) {
  .btn-start {
    width: 180px;
    height: 45px;
    font-size: 20px;
    line-height: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px #ff7b00, 0px 0px 10px 0px #ff7b00;
    box-shadow: 0px 0px 5px 0px #ff7b00, 0px 0px 10px 0px #ff7b00;
  }
}
@media screen and (max-width: 600px) {
  .btn-start {
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 0px 0px;
    width: 140px;
    -webkit-box-shadow: 0px 0px 15px 0px #ff7b00, 0px 0px 20px 0px #ff7b00;
    box-shadow: 0px 0px 15px 0px #ff7b00, 0px 0px 20px 0px #ff7b00;
  }
}

@-webkit-keyframes buttonAnimation {
  0% {
    -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00;
    box-shadow: 0px 0px 30.617px 0px #ff7b00;
  }
  50% {
    -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00,
      0px 0px 61.234px 0px #ff7b00, 0px 0px 214.318px 0px #ff7b00,
      0px 0px 428.635px 0px #ff7b00;
    box-shadow: 0px 0px 30.617px 0px #ff7b00, 0px 0px 61.234px 0px #ff7b00,
      0px 0px 214.318px 0px #ff7b00, 0px 0px 428.635px 0px #ff7b00;
  }
  100% {
    -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00;
    box-shadow: 0px 0px 30.617px 0px #ff7b00;
  }
}

@keyframes buttonAnimation {
  0% {
    -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00;
    box-shadow: 0px 0px 30.617px 0px #ff7b00;
  }
  50% {
    -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00,
      0px 0px 61.234px 0px #ff7b00, 0px 0px 214.318px 0px #ff7b00,
      0px 0px 428.635px 0px #ff7b00;
    box-shadow: 0px 0px 30.617px 0px #ff7b00, 0px 0px 61.234px 0px #ff7b00,
      0px 0px 214.318px 0px #ff7b00, 0px 0px 428.635px 0px #ff7b00;
  }
  100% {
    -webkit-box-shadow: 0px 0px 30.617px 0px #ff7b00;
    box-shadow: 0px 0px 30.617px 0px #ff7b00;
  }
}
