.ancient-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 850px;
}
@media screen and (max-width: 1200px) {
  .ancient-grid {
    grid-auto-rows: 750px;
  }
}
@media screen and (max-width: 992px) {
  .ancient-grid {
    grid-auto-rows: 650px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .ancient-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.ancient-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 60px 40px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.ancient-box::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.ancient-box:hover::after {
  background: rgba(0, 0, 0, 0.1);
}
.ancient-box.dark::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.ancient-box.dark:hover::after {
  background: transparent;
}
@media screen and (max-width: 600px) {
  .ancient-box {
    padding: 40px 20px;
  }
}

.ancient-bl__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Unbounded", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0px 20px 0px;
}
@media screen and (max-width: 992px) {
  .ancient-bl__title {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 600px) {
  .ancient-bl__title {
    font-size: 16px;
    line-height: 18px;
  }
}

.ancient-bl__btn {
  position: relative;
  z-index: 2;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ancient-1__bl {
  background: url("../../static/images/style1.jpg") top no-repeat;
  background-size: cover;
}

.ancient-2__bl {
  background: url("../../static/images/style2.jpg") top no-repeat;
  background-size: cover;
}

.ancient-3__bl {
  background: url("../../static/images/style3.jpg") top no-repeat;
  background-size: cover;
}

.ancient-4__bl {
  background: url("../../static/images/digital-1.jpg") top no-repeat;
  background-size: cover;
}

.ancient-5__bl {
  background: url("../../static/images/digital-2.jpg") top no-repeat;
  background-size: cover;
}

.ancient-6__bl {
  background: url("../../static/images/digital-3.jpg") top no-repeat;
  background-size: cover;
}

.seo-ancient__list {
  position: relative;
  z-index: 2;
  display: block;
  margin: 100px 0px 50px 0px;
}
.seo-ancient__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.seo-ancient__list li.fs {
  margin: 0px 0px 5px 0px;
}
.seo-ancient__list.last {
  margin: 100px 0px 90px 0px;
}
@media screen and (max-width: 992px) {
  .seo-ancient__list {
    margin: 80px 0px 40px 0px;
  }
  .seo-ancient__list.last {
    margin: 80px 0px 60px 0px;
  }
}
@media screen and (max-width: 600px) {
  .seo-ancient__list {
    margin: 60px 0px 30px 0px;
  }
  .seo-ancient__list.last {
    margin: 60px 0px 40px 0px;
  }
}

.seo-ancient-icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  width: 30px;
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0px 20px 0px 0px;
}
.seo-ancient-icons img {
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  .seo-ancient-icons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    width: 20px;
    margin: 0px 15px 0px 0px;
  }
}
@media screen and (max-width: 600px) {
  .seo-ancient-icons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
    width: 15px;
    margin: 0px 12px 0px 0px;
  }
}

.seo-ancient-prph {
  color: #FFF;
  font-family: "Unbounded", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .seo-ancient-prph {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 600px) {
  .seo-ancient-prph {
    font-size: 14px;
    line-height: 18px;
  }
}

.seo-ancient__info {
  position: relative;
  z-index: 2;
  display: block;
}
@media screen and (max-width: 1200px) {
  .seo-ancient__info {
    padding-left: 0px;
  }
}
.seo-ancient__info li {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
}
.seo-ancient__info li.ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .seo-ancient__info li {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 600px) {
  .seo-ancient__info li {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.72px;
    text-align: center;
  }
  .seo-ancient__info li.ls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.seo-info-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  width: 27px;
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0px 10px 0px 0px;
}
.seo-info-icon img {
  width: 100%;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
@media screen and (max-width: 992px) {
  .seo-info-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18px;
            flex: 0 0 18px;
    width: 18px;
  }
  .seo-info-icon img {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
  }
}
@media screen and (max-width: 600px) {
  .seo-info-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12px;
            flex: 0 0 12px;
    width: 12px;
    margin: 0px 5px 0px 0px;
  }
  .seo-info-icon img {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.seo-info-p {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .seo-info-p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 600px) {
  .seo-info-p {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.72px;
  }
}
